body{
    box-sizing: border-box;
    width: 850px;
    border: solid rgb(105, 9, 9) 30px;
    margin: auto;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
}

.page{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    background-color: rgb(105, 9, 9);
}

header{
    grid-column: 1/4;
    width: 770px;
    padding: 0.5rem;
    border: 2px solid rgb(39, 19, 1);
    background-color: rgb(247, 245, 243);
}
.position{
    list-style-type: none;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: auto;
}
.position li{
    flex: 1 1 1;
    width: 225px;
    position: relative;
    bottom: 60px; 
    left: 30px;
        
}

.position a{
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    background-color: rgb(236, 172, 54);
    border: 2px solid rgb(29, 29, 28)
}
.position a:hover{
    color: #000;
    background-color: #ddd;
    font-weight: 700;

}
nav{
    font-family: 'Bebas Neue', cursive;
}
main{
    grid-column: 1/4;
    margin: 0;
    padding: 0;
    background-color: #ffa500;
}

.r1{
    grid-column: 1/4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    padding: 10px;
    background: linear-gradient(180deg, #ffa500 40%, #b4070798)
}
.colorado-img{
    display: flex;
    justify-content: end;
    align-items: center;
}
.r2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
    margin: auto;
    padding: 10px;
    background: linear-gradient(180deg, #b4070798 20%, #ffa500)

}
.missouri-p{
    grid-column: 1/3;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.missouri-img{
    grid-column: 1/3;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
    padding: 10px;
    background: linear-gradient(180deg, #b40707 50%, #88857f);    
}
.item{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
h1 {
    color: rgb(105, 9, 9);
    font-size: 2rem;
    font-family: 'Alfa Slab One', cursive;
    text-align: center;   
}
h2{
    color: black;
    font-size: 2em;
    font-family: 'Bebas Neue', cursive;   
    border: 6px solid #503703;
    height: 40px;
    margin: 25px;
    padding: 5px;
    width: 250px;
}
h3{
    color: black;
    font-size: 2em;
    font-family: 'Bebas Neue', cursive;
}
p{
    font-size: 1.2em;
    line-height: 20px;
    color: lightgoldenrodyellow;
}
main img{
    box-shadow: 10px 5px 5px black
}


footer{
    grid-column: 1/4;
    border: 2px solid rgb(39, 19, 1);
    background-color: rgb(29, 29, 28);
    width: 755px;
    padding: 1rem;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns:  1fr 120px;
 
}